.mainContainer {
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}

.graphContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.customCardGraph {
  width: 74rem;
  height: 40rem;
  overflow: auto;
  transform: scale(1);
  background-color: white;
}

.customCardGraph1 {
  width: 24rem;
  height: 40rem;
  overflow: auto;
  background-color: white;
}

.filterColumn {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.line {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.headerGraph {
  display: flex;
  justify-content: space-between;
}

.headerGraph1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
