.customCardGraph {
  width: 75rem;
  height: 47rem;
  overflow: auto;
  background-color: #e4f1f6;
}

.mainContainer {
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}

.cardColumnLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  flex: 0.75;
}

.cardColumnRight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex: 3.25;
}

.customCard {
  width: 15rem;
  height: 10rem;
  overflow: auto;
  background-color: white;
}

.cardLayout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.layout {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.avatarImageContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}
