.dialogueContainer {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Vertically align the content in the center */
}

.inputFields {
  width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fieldRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.labelRating {
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 5px;
}

.spanContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartContainer {
  align-items: center;
}