.userStatisticsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.graphContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.mainContainer {
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
}

.statisticsColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.customCard {
  width: 25rem;
  overflow: auto;
  background-color: #87CEEB;
}

.customCardGraph {
    width: 74rem;
    height: 40rem;
    transform: scale(1); 
    overflow: auto;
    background-color: #87CEEB;
}

.customCardGraph1 {
    width: 24rem;
    height: 40rem;
    overflow: auto;
    background-color: #87CEEB;
}

.doughnutChart {
  width: 250px; /* Adjust as needed */
  height: 250px; 
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerGraph {
  display: flex;
  justify-content: space-between;
}

.headerGraph1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filterContainer1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}