.transparent-circle:before {
  content: "";
  display: inline-block;
  width: 16px; /* Adjust the circle's width to your preference */
  height: 16px; /* Adjust the circle's height to your preference */
  border: 2px solid currentColor; /* Uses the current font color for the border */
  border-radius: 50%; /* Makes it a circle */
  vertical-align: middle; /* Aligns it with the text */
  margin-right: 5px; /* Space between the circle and label */
}

.container {
  padding: 0;
}

.contentContainer {
}

.imageContainer {
  display: flex;
  flex-direction: column; /* To ensure children are stacked vertically */
  align-items: center; /* Horizontally center the children */
  justify-content: center; /* Vertically center the children (though it's optional here) */
  gap: 1px; /* Gives a little space between the image and the h6 */
}

.avatarImageContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* To make it circular */
  object-fit: cover; /* To ensure the image maintains its aspect ratio */
  margin-bottom: 0px; /* Add some spacing below the image */
}