.contentContainer {

}

.buttonContainer {

}

.bottomButtonContainer {
  margin-top: 20px;
}

.dialogTotalAmountContainer {
  position: "absolute";
  margin-top: 10px;
  display: "flex";
  justify-content: "flex-start";
  align-items: "center";
}

.dialogTextContainer a {
  text-decoration: underline;
  color: blue;
}
