.avatar {
  clip-path: circle();
  object-fit: cover;
  width: 7vh;
  height: 7vh;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backButton {
  border: none !important;
  color: white !important;
  background-color: #007bff !important;
  transition: all 0.3s !important;
  margin-right: 30px;
  margin-top: 30px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  ) !important;
}